parameters:

    paths:
        - src
        - tests

    # The level 10 is the highest level
    level: 5

    ignoreErrors:
        - '#\(\) on an unknown class App\.#'
        - '#\(\) on an unknown class Date\.#'
        - '#\(\) on an unknown class Cache\.#'
        - '#\(\) on an unknown class Log\.#'
        - '#\(\) on an unknown class Notification\.#'
        - '#\(\) on an unknown class Str\.#'
        - '#\(\) on an unknown class Validator\.#'
        - '#\(\) on an unknown class RateLimiter\.#'
        - '#\(\) on an unknown class Mail\.#'
        - '#\(\) on an unknown class Queue\.#'
        - '#Call to an undefined method Illuminate\\Notifications\\Notification#'
        - '#Access to an undefined property AnourValar\\EloquentNotification\\UserNotification\:\:#'
        - '#EloquentNotification\\UserNotification\)\>\:\:withTrashed\(\)#'
        - '#Access to an undefined property Illuminate\\Foundation\\Auth\\User#'
        - '#on an unknown class Atom#'
        - '#Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:notify\(\)#'
        - '#Call to an undefined method Illuminate\\Support\\HigherOrderTapProxy#'
        - '#Call to an undefined static method#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Collection#'
        - '#assertSame\(\) contains unresolvable type#'
        - '#assertTrue\(\) with true will always evaluate to true#'

    excludePaths:

    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    reportAlwaysTrueInLastCondition: true
    reportWrongPhpDocTypeInVarTag: true
    checkMissingCallableSignature: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportAnyTypeWideningInVarTag: true
