<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="vendor/autoload.php"
  backupGlobals="false"
  colors="true"
  processIsolation="true"
  stopOnFailure="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  cacheDirectory=".phpunit.cache"
  backupStaticProperties="false"
>
  <testsuites>
    <testsuite name="EloquentNotification">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_KEY" value="base64:W9OEqxJgN9blde9VyW0CPQu+Sab3dngPwI98rCAcMyM="/>
    <env name="ELOQUENT_NOTIFICATION_TELEGRAM_ADAPTER" value="AnourValar\EloquentNotification\Adapters\Telegram\MockAdapter"/>
    <env name="ELOQUENT_NOTIFICATION_SMS_ADAPTER" value="AnourValar\EloquentNotification\Adapters\Sms\MockAdapter"/>
    <env name="ELOQUENT_NOTIFICATION_PUSH_ADAPTER" value="AnourValar\EloquentNotification\Adapters\Push\MockAdapter"/>
    <env name="ELOQUENT_NOTIFICATION_EXCHANGER_ADAPTER" value="AnourValar\EloquentNotification\Adapters\Exchanger\NullAdapter"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
